@import '../constants';

.header {
    position: fixed;
    padding-left: 1rem;
    height: 6rem;
    width: calc(100% - #{$controlsWidth});
    left: $controlsWidth;

    background-color: #2f4f4f;

    &-title {
        margin: 0;
        margin-bottom: .5rem;
    }
}