@import '../constants';

.header {
    position: fixed;
    padding-left: 1rem;
    height: $header-height;
    width: calc(100% - #{$header-width});
    top: 0;
    left: $header-left;
    z-index: $zindex-fixed;

    background-color: #2f4f4f;

    &-title {
        margin: 0;
        margin-bottom: .5rem;
    }
}

@media (max-width: 769px) {
    .header {
        left: 0;
        top: $header-top-s1;
        height: $header-height-s1;
        width: 100%;
    }
}

// @media (max-width: 481px) {
//     .header {
//         // background-color: blue;
//         left: 0;
//         top: $controls-height-s1;
//         width: 100%;
//         height: $header-height-s1;
//     }
// }