@import '../constants';

.controls {
    position: fixed;
    height: 100%;
    z-index: 1000;
}

.controls-section {
    height: 100%;
    width: $controlsWidth;
    background-color: beige;

    & > button {
        padding: 0;
    }
}