

.App {
  text-align: center;
  max-width: fit-content;
  max-height: fit-content;
}


.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;

}
.App-header img {
  float: left;
  width: 100px;
  height: 100px;
}

.nav-bar {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

li, a, button {
  font-family: montserrat;
  font-weight: 500;
  font-size: 14px;
  color: #edf0f1;
  text-decoration: none;
  display: inline-block;
  padding: 0px 15px;
  transition: all 0.3s ease 0s;
}

.logo {
  cursor: pointer;
}

.portada {
  background-image: url("C:\developing\react-template\src\1.png");
  background-size: cover;
  
}

.App-link {
  color: #61dafb;
}
